<div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
		<div>
			<a href="index.php"><img src="../images/logo/logo.png" style="width:17%;height:125%;padding-top:1%;padding-left:3%;"></img></a>
		</div>
        <div class="container" style="margin-top:0%">
          <br><br>
		  <h1 class="header center white-text text-lighten-2">Crown Asia Gateway Angkor</h1>
		  <div class="row center">
			<h5 class="header col s12">アジアの成長と活力を日本に取り込み新たな創造と成長を実現する</h5>
		  </div>
          <br><br>
        </div>
      </div>
      <div class="parallax"><img src="../images/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <nav class="white nav-bar-scroll" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="index.php" class="brand-logo">Crown Asia Gateway Angkor</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="profile.html">PROFILE</a></li>
          <li><a href="#product">PRODUCT</a></li>
          <li><a href="concept.html">CONCEPT</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="profile.html">PROFILE</a></li>
          <li><a href="#product">PRODUCT</a></li>
          <li><a href="concept.html">CONCEPT</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m12">
            <div class="icon-block">
              <!--
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                -->
              <h2 class="center">WISH</h2>
              <h2 class="center">今、日本に何が求められているか</h2>
              <p class="light">「世界の成長センター」となったアジアが、今後とも世界に開かれた地域として発展していくことが世界にとっても日本にとっても重要であり、人口減少を迎えた日本にとって国内を更にオープンにしアジアや世界の活力を取り込まなければ、安定した経済成長は困難です。</p>
            </div>
            <div class="row center">
              <a href="concept.html" id="concept" class="btn-large waves-effect waves-light teal lighten-1">Concept</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container valign-wrapper-bottom1">
      <div class="section2 no-pad-bot" style="background:black;padding:0;margin:0;margin-top:20%;">
        <div class="container">
          <div class="row center">
            <h2 class="header col s12 light">国外に発信する３つの基本理念</h2>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="../images/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>
	
	<div class="row">
		<div class="col s12 m4">
		  <div class="card">
			<div class="card-image waves-effect waves-block waves-light">
			  <img class="activator" src="../images/products/shipment.jpg">
			  <h5 class= "center" >開放的で魅力ある日本を創る</h5>
			  <p class="center">アジアや世界の人々が「訪れたい、学びたい、<br>働きたい、住みたい」と思う国に</p>
			</div>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card">
			<div class="card-image waves-effect waves-block waves-light">
			  <img class="activator" src="images/products/shipment.jpg">
			  <h5 class= "center" >開かれたアジアを共に創る</h5>
			  <p class="center">経済を中核とした開放的な<br>地域秩序を維持・深化</p>
			</div>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card">
			<div class="card-image waves-effect waves-block waves-light">
			  <img class="activator" src="images/products/shipment.jpg">
			  <h5 class= "center" >互いを尊重し、共に生きる</h5>
			  <p class="center">多様性を前提に相互理解<br>相互信頼の関係を構築</p>
			</div>
		  </div>
		</div>
	  </div>
	
    <?php
	include_once ("sub-product.html");
	?>
	<!--Map-->
    <div>
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h2>MAP</h2>
            <h2>案内図</h2>
			<div class="container">
				<div class="row">
					<div class="col s12 m6">
					  <div class="card">
						<div class="card-image waves-effect waves-block waves-light">
						  <img class="activator" src="images/maps/1.png">
						</div>
					  </div>
					</div>
					<div class="col s12 m6">
					  <div class="card">
						<div class="card-image waves-effect waves-block waves-light">
						  <img class="activator" src="images/maps/2.png">
						</div>
					  </div>
					</div>
				</div>
				<h5 class="center">Lot 923, Anlong Kngan, Khmuonh, Russey Keo, Phnom Penh, Cambodia</h5>
			</div>
          </div>
        </div>
      </div>
    </div>
	<!--footer-->
	<nav class="teal" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="index.php" class="brand-logo">Crown Asia Gateway Angkor</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="index.php">HOME</a></li>
          <li><a class="white-text" href="profile.html">PROFILE</a></li>
          <li><a class="white-text" href="#product">PRODUCT</a></li>
          <li><a class="white-text" href="concept.html">CONCEPT</a></li>
        </ul>
      </div>
    </nav>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>